<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <%- include('../partials/nav', {showUserDropdown: true}); %>

    <div class="container">
        <div class="page-header">
            <h1>Profile <small>(<%= username %>)</small></h1>
        </div>
        <div id="edit-profile-panel" class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Edit Profile Info</h2>
            </div>
            <div class="panel-body">
                <form id="editInfoForm">
                    <div class="form-group">
                        <label>First Name: <input class="form-control" name="firstName" placeholder="First Name" type="text" value= "<%= firstName %>"></label>
                    </div>
                    <div class="form-group">
                        <label>Last Name: <input class="form-control" name="lastName" placeholder="Last Name" type="text" value="<%= lastName %>"></label>
                    </div>
                    <div class="form-group">
                        <label>Hobby: <input class="form-control" name="hobby" placeholder="Hobby" type="text" value="<%= hobby %>"></label>
                    </div>
                    <div class="form-group">
                        <label>Pet Name: <input class="form-control" name="petName" placeholder="Pet Name" type="text" value="<%= petName %>"></label>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <% include ../partials/scripts %>

    <script>
        $('#editInfoForm').on('submit', function(e) {

            $.ajax({
                url: '/profile/editUserInfo',
                type: 'POST',
                data: {
                    'firstName': $('#editInfoForm input[name="firstName"]').val(),
                    'lastName': $('#editInfoForm input[name="lastName"]').val(),
                    'hobby': $('#editInfoForm input[name="hobby"]').val(),
                    'petName': $('#editInfoForm input[name="petName"]').val()
                },
                success: function(data) {
                    location.reload();
                },
                error: function(xhr, status, error) {
                    alert(xhr.responseText + ' (' + xhr.status + ')');
                }
            });

            return false;
        });
    </script>
</body>

</html>
