<!DOCTYPE html>
<meta charset="utf-8">


<body>


<!-- set inputs for the query -->    
<div id="dates">
    
    <button class="btn btn-primary week" type="button" data-symbol = "<%= tickerSymbol %>" >1W</button>
	<button class="btn btn-primary month" type="button" data-symbol = "<%= tickerSymbol %>">1M</button>
	<button class="btn btn-primary 3month" type="button" data-symbol = "<%= tickerSymbol %>">3M</button>
	<button class="btn btn-primary year" type="button" data-symbol = "<%= tickerSymbol %>">1Y</button>
	
</div>

<div id = "title-<%= tickerSymbol %>">

</div>

</body>

<script src="//d3js.org/d3.v3.min.js"></script>
<script>
	
	var parseDate = d3.time.format("%Y-%m-%d").parse;
			var margin = {top: 30, right: 40, bottom: 30, left: 50},
				width = 400 - margin.left - margin.right,
				height = 310 - margin.top - margin.bottom;

			// Parse the date / time
			var parseDate = d3.time.format("%Y-%m-%d").parse;

			// Set the ranges
			var x = d3.time.scale().range([0, width]);
			var y = d3.scale.linear().range([height, 0]);

			var xAxis = d3.svg.axis().scale(x)
				.orient("bottom").ticks(5);

			var yAxis = d3.svg.axis().scale(y)
				.orient("left").ticks(5);

			var valueline = d3.svg.line()
				.x(function(d) { return x(d.date); })
				.y(function(d) { return y(d.high); });
				
			var svg = d3.select("#d3-<%= tickerSymbol %>")
			.append("svg")
				.attr("width", width + margin.left + margin.right)
				.attr("height", height + margin.top + margin.bottom)
			  .append("g")
				.attr("transform", "translate(" 
					+ margin.left 
					+ "," + margin.top + ")");




</script>




</html>