<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <%- include('../partials/nav', {showUserDropdown: true}); %>

        <div class="container">
            <div class="page-header">
                <h1>Profile <small>(<%= username %>)</small></h1>
            </div>
            <h2>Accordion Example</h2>
            <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
            <div class="panel-group" id="accordion">
                <%- include('../partials/tickerItem.ejs', {collapseNum: 0}); %>
                <%- include('../partials/tickerItem.ejs', {collapseNum: 1}); %>
                <%- include('../partials/tickerItem.ejs', {collapseNum: 2}); %>
                <%- include('../partials/tickerItem.ejs', {collapseNum: 3}); %>
            </div>
        </div>
        <% include ../partials/scripts %>
</body>

</html>
